{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}taskstick - dead simple time tracking{% endblock title %}</title>

    <!-- System CSS -->
    <link rel="stylesheet" href="{% static 'css/system.css' %}"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
  </head>

  <body>
    {% block content %}
    {% endblock content %}

  <!-- Alpine.js -->
    <script src="{% static 'js/alpine.js' %}" defer></script>
  </body>
</html>
